.DS_Store
/data
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/react/node_modules/
/react/.pnp
/react.pnp.js

# testing
/react/coverage

# production
/react/build

# misc
/react.DS_Store
/react.env.local
/react.env.development.local
/react.env.test.local
/react.env.production.local

/reactnpm-debug.log*
/reactyarn-debug.log*
/reactyarn-error.log*

.env